<div class="bg-white rounded-md p-4">
  <app-input
    label="Title"
    [(ngModel)]="title"
    name="titleName"
    ngDefaultControl
  ></app-input>
  <app-input label="Cover Image" type="file"></app-input>
  <app-label [label]="'Content'"></app-label>
  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
    <ngx-editor
      [editor]="editor"
      [(ngModel)]="html"
      [placeholder]="'Type here...'"
    ></ngx-editor>
  </div>

  <div style="display: flex; justify-content: end; margin-top: 15px">
    <app-custom-button
      [label]="'Submit'"
      [onClick]="submitPost"
      [isLoading]="false"
      [disabled]="false"
    ></app-custom-button>
  </div>
</div>